.profile-container {
  max-width: 700px;
  padding: 30px;
  border-radius: 15px;
  background-color: #f9fafb;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.profile-container h2 {
  color: #1a3470;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile-form label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  gap: 6px;
  color: #1a3470;
}

.profile-form input {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 100%;
}
.change-button{
    font-size: 0.8rem !important;
    height: 39px;
    text-align: center;
    padding: 0 10px;
}
.profile-form input:focus {
  outline: none;
  border-color: #1a3470;
}

.profile-form input:disabled {
  background-color: #e5e7eb;
  cursor: not-allowed;
}


.change-button:hover {
  background-color: #315ab9;
  color: white;
  border: 2px solid #315ab9;
}
.save-button{
    background-color: #315ab9;
}

.error {
  background: #fee2e2;
  color: #991b1b;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 14px;
  text-align: center;
}