*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.custom-toast {
  background: #1a3470 !important;
  color: #fff !important;
  border-radius: 10px !important;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25) !important;
}
.input-disabled {
  background: #f1f5f9;
  color: #334155;
  border: 1px solid #cbd5e1;
  cursor: not-allowed;
  opacity: 1; /* evita que quede lavado */
  font-weight: 600;
}
body {
  background-image: url("./assets//fondo.jpg");
  background-size: cover;        /* cubre toda la pantalla */
  background-position: center;   /* centrado */
  background-repeat: no-repeat;  /* no se repite */
  background-attachment: fixed;  /* efecto fijo al hacer scroll */
}


